html {
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

body {
    height: 100%;
    grid-area: body;
    display: grid;
    grid-template-rows: 1fr 15fr 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "footer";
}


header {
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-columns: 25fr repeat(4, auto);
    align-items: center;
    grid-template-areas: ". header-item-1 header-item-2 apps user";
    column-gap: 20px;
}   
.header-item1 {
    grid-area: header-item-1;
}
.header-item2 {
    grid-area: header-item-2;
}
.apps {
    grid-area: apps;
}
.user {
    grid-area: user;
}


nav {
    grid-area: nav;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "image"
    "form";
}
#google-logo {
    grid-area: image;
    align-self: end;
    justify-self: center;
}
#google-search {
    grid-area: form;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "bar bar"
    "button1 button2";
    column-gap: 15px;
}
.search-bar {
    grid-area: bar;
    justify-self: center;
    align-self: start;
}
#button1 {
    grid-area: button1;
    justify-self: end;
    align-self: start;
}
#button2 {
    grid-area: button2;
    justify-self: start;
    align-self: start;
}


footer {
    grid-area: footer;
    width: 100%;
    display: grid;
    grid-template-columns: 25fr auto;
    grid-template-areas: "first-block second-block";
}
#first-block {
    grid-area: first-block;
    justify-self: start;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, auto) max-content;
    grid-template-areas: "about advertising business search .";
    column-gap: 20px;
}
#second-block {
    grid-area: second-block;
    justify-self: end;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "privacy terms settings";
    column-gap: 20px;
}